* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

.body-error {
    margin-top: 50px;
    padding: 20px;
    margin-left: 14px;
}

.title-error {
    float: left;
    margin-top: 13px;
    font-size: 18px;
    display: block;
    width: 13%;
    margin-right: 14px;
    padding-right: 14px;
}
