/*
    Archivo encargado de definir los estilos de los submodales 
    en los diferentes modulos de la aplicación
*/

/*Menu de acciones*/

.menuoptions-flex-submodal {
    background-color: #337ab7;
    position: relative;
    min-height: 40px;
    box-shadow: 0px 3px 6px rgb(0 0 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.btn-danger {
    margin-right: 0px;
}

.close-modal:hover {
    transform: scale(1.1);
}

.container-modal-scrolling {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.5) rgba(0,0,0,0);
}

.scrollbar-tableprimary-submodal {
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid #ccc;
    margin: 12px;
    background: white;
    margin-left: 2%;
    width: 96%;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.5) rgba(0,0,0,0);
}

.main-content-modal {
    background: white;
    margin: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 15px;
}

    .main-content-modal.w50 {
        width: 50%;
    }

    .main-content-modal.w70 {
        width: 70%;
    }

.submodal-container {
    display: flex;
    align-items: center;
}

.cont-input-newform-col4 {
    width: 24%;
   
}

.cont-input-newform-col {
    width: 24%;
}

.cont-input-newform-col3 {
    width: 32%;
}

.cont-input-fecha-loans {
    width: 24%;
}


.conten-input-modal {
    display: flex;
    justify-content: space-between;
}

.cont-input-newform-col2 {
    width: 48%;
}

.cont-input-newform-col1 {
    width: 100%;
    /*height: 117px;*/
}

.contenedor-dos-contratar {
    position: absolute;
    left: 110px;
    top: 51px;
}

.contenedor-uno-contratar {
    position: absolute;
    left: 310px;
    top: 51px;
}
.conteiner-update-date {
    position: absolute;
    left: 37px;
    top: 51px;
}

.contenedor-desvinculados-contratar {
    position: absolute;
    left: 110px;
    top: 51px;
}

.info {
    /*color: #000;*/
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-top: 6px;
    display: flex;
    margin-right: 15px;
}

    .info:hover {
        transform: scale(1.1);
    }

.TinyModal {
    width: 300px;
    background-color: white;
    position: absolute;
    top: 51px;
    border: 1px solid #106a8c;
    padding: 15px 15px 5px 15px;
    box-shadow: bisque;
    box-shadow: 0 2px 6px #09384a;
}

    .TinyModal:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        left: 40px;
        top: -16px;
        transform: rotate( 45deg );
        border-top: 1px solid #106a8c;
        border-left: 1px solid #106a8c;
    }

.TinyModal-hire-employee {
    width: 300px;
    background-color: white;
    position: absolute;
   
    border: 1px solid #106a8c;
    padding: 15px 15px 15px 15px;
    box-shadow: bisque;
    box-shadow: 0 2px 6px #09384a;
}

    .TinyModal-hire-employee:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        left: 40px;
        top: -16px;
        transform: rotate( 45deg );
        border-top: 1px solid #106a8c;
        border-left: 1px solid #106a8c;
    }

.contbtn-tinymodal {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

    .contbtn-tinymodal > input {
        margin: 0px;
    }

textarea {
    resize: none;
}

/*Estilo mensaje de ayuda de los códigos de ganancia*/
.message_button-text{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alert-help {
    font-size: 15px;
    color: #002bff;
    margin-bottom: 0;
}
/*Estilo mensaje de ayuda de los códigos de ganancia*/


/*Efecto de modales de historial*/
.collpase-modal {
    /*visibility: hidden;*/

    opacity: 0.5;
    height: 0;
    transition: all 0s;
}

@media (max-width: 1370px) {
    .main-content-modal.w50 {
        width: 70%;
    }
    .cont-input-newform-col4 {
        width: 20%;
   
    }

    .cont-input-fecha-loans {
        width: 38%;
    }
}

@media (max-width: 900px) {
    .ContenModModule {
        background: white;
        width: 100%;
        margin: auto;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .new-document-Emp {
        width: 100%;
    }
    .main-content-modal.w50 {
        width: 95%;
    }
}

@media (max-width: 780px) {
    .cont-input-newform-col4 {
        width: 18%;
      
    }

    .cont-input-fecha-loans {
        width: 44%;
    }
}
