@model DC365_WebNR.CORE.Domain.Models.GeneralConfigResponse

<div class="cont-input-newform-col2">
    <div class="contlotesmploye">
        <label class="control-label labelModEmploye-izq lblInfoContact">Email</label>
        <div>
            <input class="form-control" asp-for="Email" />
        </div>
    </div>

    <div class="contlotesmploye">
        <label class="control-label labelModEmployeComen">SMTP</label>
        <div>
            <input class="form-control" asp-for="SMTP"/>
        </div>
    </div>
</div>

<div class="cont-input-newform-col2">
    <div class="contlotesmploye">
        <label class="control-label labelModEmploye-izq lblInfoContact">Puerto SMTP</label>
        <div>
            <input class="form-control" asp-for="SMTPPort"/>
        </div>
    </div>
    <div class="contlotesmploye">
        <label class="control-label labelModEmploye-izq lblInfoContact">Email Password</label>
        <div>
            <input class="form-control" name="EmailPassword" autocomplete="off" />
        </div>
    </div>
</div>
