<div class="bg-help-section">
    <div class="container-help-section">
        <div class="help-title">
            <h3>Información</h3>
            <i class="fa fa-close close-help"></i>
        </div>
        <div class="card-content">
            <div class="card-help">
                <h4>Detalles</h4>
                <p>
                    @*Empleado: Trabjador - La posición seleccionada no existe.<br>Empleado: Trabjador - La posición seleccionada no existe.<br>Empleado: Trabjador - La posición seleccionada no existe.<br>*@
                </p>
            </div>
        </div>
    </div>
    <div class="info-icon info-show" id="info-show">
        <i class="fa fa-question"></i>
    </div>
</div>