@model IEnumerable<DC365_WebNR.CORE.Domain.Models.CompanyForUser>

<div class="container-table-app" id="content-scroll" style="margin-bottom:15px">
    <table class="table-app tblUser">
        <thead>
            <tr class="row-headerCustomUsers row-header-app">
                <td class="cell-app check-cell-app cell-header-app">
                    <input id="check-table-0" type="checkbox" class="check-table-app">
                    <label for="check-table-0"> </label>
                </td>
                <td class="cell-app  cell-header-app">Código</td>
                <td class="cell-app  cell-header-app">Empresa</td>
            </tr>
        </thead>
        <tbody class="tbodyTableCompany">
            @{int indexCheckcomp = 1; }
            @foreach (var item in Model)
            {

                string idCheckcomp = $"check-tableComp-{indexCheckcomp++}";
                <tr class="row-app">

                    <td class="cell-app check-cell-app">
                        <input id="@idCheckcomp" type="checkbox" class="check-table-app selectCompaniesAssigned">
                        <label for="@idCheckcomp" class="label-cell"></label>
                    </td>
                    <td class="cell-app cell-principal companyIdAsigtbl" data-title="Código">
                        @Html.DisplayFor(modelItem => item.companyId)
                    </td>
                    <td class="cell-app" data-title="Nombre">
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

