<div class="bg-help-section">
    <div class="container-help-section">
        <div class="help-title">
            <h3>Ayuda</h3>
            <i class="fa fa-close close-help"></i>
            @*<img src="./Images/Helps/close-help.png" class="close-help">*@
        </div>
        <div class="card-content">
            <div class="card-help">
                <h4>Cerrar sesión</h4>
                <p>
                    Haga click sobre la palabra 'Cerrar sesión' para finalizar y volver a la pantalla
                    de inicio de sesión.
                </p>
            </div>
        </div>
    </div>
    <div class="info-icon info-show" id="info-show">
        <i class="fa fa-question"></i>
    </div>
</div>
