

<form asp-action="HireEmployee" class="TinyModal-hire-employee" id="Update-history-employee">
    <h3 class="TituloEstandar-modal-contratar">Actualizar fecha</h3>
    <div class="cont-input-newform-col1">

        <div class="contlotesmploye">
            <label class="control-label labelModEmployeComen">Id de historial</label>
            <div class="">
                <input name="EmployeeHistoryId" class="form-control EmployeeHistoryId-update" readonly="readonly" />
            </div>
        </div>
        <div class="contlotesmploye">
            <label class="control-label labelModEmployeComen">Fecha del registro</label>
            <div class="">
                <div class="app-input-date">
                    <input name="RegisterDate" class="form-control" type="date" />
                    @*<i class="app-input-date-today fa fa-edit " title="Hoy"></i>
                    <i class="app-input-date-never fa fa-hourglass-o " title="Nunca"></i>*@
                </div>
            </div>
        </div>
        
    </div>
    <div class="contbtn-tinymodal">
        <input type="button" class="btn btn-danger btncancelar-Update-history-employee" value="Cancelar">
        <input type="submit" value="Aceptar" class="btn btn-primary">
    </div>
</form>