<div class="bg-help-section">
    <div class="container-help-section">
        <div class="help-title">
            <h3>Ayuda</h3>
            <i class="fa fa-close close-help"></i>
            @*<img src="./Images/Helps/close-help.png" class="close-help">*@
        </div>
        <div class="card-content">
            <div class="card-help hidden-more">
                <span class="see-more" data-type="show">Ver más</span>
                <h4>Crear nueva cuenta bancaria</h4>
                <img src="./Images/Helps/emp-ba-help-1.png" id="img1" data-src="emp-ba-help-1.png">
                <p>
                    Utilice el botón de nuevo para desplegar el
                    formulario que le permitirá crear la
                    información de una nueva cuenta bancaria.
                </p>
                <p>Llene los campos:</p>
                <ul>
                    <li class="required">Tipo:</li>
                    <li class="required">Número:</li>
                    <li class="required">Banco:</li>
                    <li class="required">Moneda:</li>
                    <li class="optional">Comentario:</li>
                    <li class="optional">Principal:</li>
                </ul>
            </div>

            <div class="card-help">
                <h4>Editar cuenta bancaria</h4>
                <p>
                    Haga doble click en la línea que desea modificar
                    para desplegar el formulario de edición con los datos disponibles
                    para modificar.
                </p>
            </div>

            <div class="card-help">
                <h4>Información principal</h4>
                <p>
                    Puede agregar tantas cuentas como desee, pero solo una de cada tipo puede ser principal,
                    aseguresé de asignar la cuenta a usar con más frecuencia.
                </p>
            </div>
        </div>
    </div>
    <div class="info-icon info-show" id="info-show">
        ?
    </div>
</div>
