* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body {
    height: calc(100vh - 20px);
    padding-top: 50px;
}
.space-isolate {
    top: 5px;
    left: 45%;
    font-size: 28px;
    position: fixed;
}

.TituloEstandar-modal-contratar {
    font: normal normal 200 28px/40px 'Segoe UI',tahoma,sans-serif;
    color: #333;
    /* padding-left: 2%; */
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 1px solid #ccc;
    /* padding-bottom: 10px; */
    top: 0;
    /* text-shadow: 2px 2px 2px #ddd; */
    margin-top: 0px;
}

.TituloEstandar-modal-desvincular {
    font: normal normal 200 24px/30px 'Segoe UI',tahoma,sans-serif;
    color: #333;
    /* padding-left: 2%; */
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 1px solid #ccc;
    /* padding-bottom: 10px; */
    top: 0;
    /* text-shadow: 2px 2px 2px #ddd; */
    margin-top: 0px;
}

.icontitlecustomer {
    float: left;
    margin-top: 11px;
    display: block;
    cursor: pointer;
    margin-left: 7px;
    transform: scale(0.8);
    font-size: 30px;
}

input[type=file] {
    display: none;
}

.footer {
    text-align: center;
    /*margin-left: 230px;*/
    text-decoration-color: #000000;
}

.headerlayoaut {
    width: 100%;
    height: 50px;
    background-color: #001433;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.delado {
    float: left;
    height: 25px;
    width: 25px;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;

}

.delado1 {
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 15px;
    margin-left: 25px;
}

.deladoGastos {
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 15px;
    margin-left: 5px;
}


.contTitulo {
    padding: 0px 35px;
}

.contTitulo1 {
    padding: 0px 103px;
}

.Titulo1 {
    float: left;
    margin-top: 13px;
    font-size: 18px;
    display: block;
    cursor: pointer;
    /* width: 13%;*/
    margin-right: 14px;
    border-right: 1px solid white;
    padding-right: 14px;
}

.TituloEmploye {
    float: left;
    margin-top: 13px;
    font-size: 16px;
    padding-top: 2px;
    display: block;
    cursor: pointer;
}

.Titulo2 {
    float: left;
    display: block;
    font-size: 18px;
    margin: 15px 15px;
    display: block;
}

.alfnal {
    float: right;
    cursor: pointer;
    width: 35px;
    margin-right: 20px;
    margin-left: 0px;
}

.div2usuario {
    border-radius: 100px;
    background: #307bb5;
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 6px;
    padding: 3px;
}

.loginusuario {
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: 50%;
}

.dataareaid {
    color: #fff;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    /* border-radius: 5px; */
    float: right;
    /* margin-top: 10px; */
    background: #001433;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: initial;
    padding: 15px 10px;
    /* padding-left: 10px; */
}

    .dataareaid:hover {
        background: #1e56aa;
    }

.datosusuario {
    z-index: inherit;
    top: 0;
    right: 0px;
    transition: all 1s;
    cursor: pointer;
    background: #fff;
    padding-top: 1em;
    margin-left: 50px;
    margin-top: 51px;
    /* padding: 10px; */
    position: fixed;
    transform: translateX(500px);
    border-bottom-left-radius: 8px;
    box-shadow: -2px 2px 2px 2px rgba(0,0,0,0.2);
}

    .datosusuario ul {
        list-style: none;
        width: 250px;
        height: 10vh;
    }

        .datosusuario ul li .perfil {
            display: block;
            color: #000000;
            text-decoration: none;
            line-height: 2.5;
            padding: 0 1em;
        }

            .datosusuario ul li .perfil:hover {
                display: block;
                color: #000000;
                text-decoration: none;
                line-height: 2.5;
                padding: 0 1em;
            }

.scrollbar {
    height: 100%;
    overflow-y: scroll;
}

.datosusuario-empresas {
    z-index: inherit;
    width: 300px;
    height: 190px;
    top: 0;
    right: 0px;
    transition: all 1s;
    cursor: pointer;
    background: #fff;
    padding-top: 1em;
    margin-left: 50px;
    margin-top: 51px;
    padding: 2px 5px;
    position: fixed;
    transform: translateX(500px);
}

#tblEmpresasAsignadas {
    color: black;
}

.TituloEmpresas {
    font: normal normal 200 18px/30px 'Segoe UI',tahoma,sans-serif;
    color: black;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ccc !important;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: ghostwhite !important;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background: #337ab747 !important;
    color: #2b2b2b !important;
}

.estilo_nav {
    position: fixed;
    width: 49px;
    height: 100vh;
    background: #f4f4f4;
    top: 0;
    display: block;
}

.Abrir {
    transform: translateX(0px);
}

.TituloEstandarRf {
    font: normal normal 200 28px/40px 'Segoe UI',tahoma,sans-serif;
    color: #333;
    padding-left: 32px;
    /*padding-bottom: 10px;*/
    top: 0;
    text-shadow: 2px 2px 2px #ddd;
    margin-top: 10px;
}

.TituloEstandar {
    font: normal normal 200 28px/40px 'Segoe UI',tahoma,sans-serif;
    color: #333;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 1px solid #ccc;
    top: 0;
    margin-top: 20px;
}

.ContenidoError {
    font: normal normal 400 18px/28px 'Segoe UI',tahoma,sans-serif;
    color: #333;
    padding-left: 32px;
    top: 0;
    /*text-shadow: 2px 2px 2px #ddd;*/
}

.imagenerrorvalidacion {
    width: 150px;
    height: 150px;
    margin: auto;
}

@media (max-width:990px) {
    .footer {
        text-align: center;
        margin-left: 63px;
        text-decoration-color: #000000;
    }
}

@media (max-width:655px) {
    .alfnal {
        float: right;
        cursor: pointer;
        width: 35px;
        margin-right: 5px;
        margin-left: 15px;
    }
}

@media (max-width: 640px) {

    .Titulo2 {
        float: left;
        display: block;
        font-size: 18px;
        margin: 15px 15px;
        display: none;
    }
}

@media (max-width: 600px) {
    .Titulo1 {
        float: left;
        margin: 15px 15px;
        font-size: 14px;
        display: block;
    }

    .footer {
        text-align: center;
        margin-left: 63px;
        text-decoration-color: #000000;
    }

    
}

@media (max-width: 450px) {

    .Titulo1 {
        float: left;
        margin: 15px 15px;
        font-size: 14px;
        display: none;
    }

    .delado {
        float: left;
        height: 20px;
        width: 20px;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        display: none;
    }
}
