@model DC365_WebNR.CORE.Domain.Models.EarningCode
@using DC365_WebNR.CORE.Domain.Models.Enums

@{
    List<SelectListItem> daparment = (List<SelectListItem>)ViewBag.Deparment;
    List<SelectListItem> projects = (List<SelectListItem>)ViewBag.Projects;
}
<!-- nuevo -->
<div class="opcioneslistpageForm collapse">
    <div class="menuoptions-flex">
        <ul class="menuoptions">
            <li>
                <a class="btn2 btn-app">
                    <i class="fa fa-save"></i>
                    <input type="submit" value="Guardar" form="NewAndEditEarningCode" class="btn2" />
                </a>
            </li>

            @{if (string.IsNullOrEmpty(Model.EarningCodeId))
                {
                    <li class="li-separador">
                        <a class="btn2 btn-app" style="border: 1px solid #fff;">
                        </a>
                    </li>

                    <li class="ec-versions-form">
                        <a class="btn2 btn-app">
                            <i class="fa fa-list-ul"></i>
                            Versiones
                        </a>
                    </li>
                }
            }
        </ul>


        <ul class="menuoptions">
            <li class="AuditInfoForm Showid collapse">
                <a class="btn2 btn-app" title="Información de auditoría">
                    <i class="fa fa-info-circle"></i>
                </a>
            </li>
            <li class="OpCloseform">
                <a class="btn2 btn-app ">
                    <i class="fa fa-close i-close"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="collapse contNewEntyti">
    <input type="text" class="form-control codigoDeparment" style="display:none">
    <div class="col-md-12 col-sm-12 col-xs-12 margenFormmularios ContenedorFormularios2">
        <div class="x_panel">
            <div class="x_content">
                <h3 class="TituloFormularios seteartitulo">Nuevo código de ingreso</h3>
                <form class="contenidoNuevoGasto2" role="tabpanel" data-example-id="togglable-tabs" id="NewAndEditEarningCode" asp-action="save">
                    @* Campos ocultos de auditoría *@
                    <input type="hidden" asp-for="DataAreaId" />
                    <input type="hidden" asp-for="RecId" />
                    <input type="hidden" asp-for="CreatedBy" />
                    <input type="hidden" asp-for="CreatedOn" />
                    <input type="hidden" asp-for="ModifiedBy" />
                    <input type="hidden" asp-for="ModifiedOn" />

                    <div class="contInterNuevoConteGastos">

                        <div class="contlotes Showid collapse">

                            <label class="control-label ancholabel">Id. Código de ingreso</label>
                            <div class="anchoimput">
                                <input asp-for="EarningCodeId" class="form-control" readonly="readonly" />
                                <span asp-validation-for="EarningCodeId" class="text-danger"></span>

                            </div>

                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">Nombre del código</label>
                            <div class="anchoimput">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="contlotes">
                            <label class="control-label ancholabel">Proyecto</label>
                            <div class="anchoimput">
                                @Html.DropDownList("ProjId", projects, "Seleccione...", new { @class = "form-control" })

                                <span asp-validation-for="ProjId" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">Cuenta contable</label>
                            <div class="anchoimput">
                                <input asp-for="LedgerAccount" class="form-control" />
                                <span asp-validation-for="LedgerAccount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">Departamento</label>

                            <div class="anchoimput">
                                @Html.DropDownList("Department", daparment, "Seleccione...", new { @class = "form-control" })

                                <span asp-validation-for="Department" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="contInterNuevoConteGastos">

                        <div class="contlotes">
                            <label class="control-label ancholabel">Válido desde</label>
                            <div class="anchoimput">
                                <div class="app-input-date">
                                    <input asp-for="ValidFrom" class="form-control" />
                                    <i class="app-input-date-today fa fa-edit " title="Hoy"></i>
                                    <i class="app-input-date-never fa fa-hourglass-o " title="Nunca"></i>
                                </div>

                                <span asp-validation-for="ValidFrom" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">Válido hasta</label>
                            <div class="anchoimput">

                                <div class="app-input-date">
                                    <input asp-for="ValidTo" class="form-control" />
                                    <i class="app-input-date-today fa fa-edit " title="Hoy"></i>
                                    <i class="app-input-date-never fa fa-hourglass-o " title="Nunca"></i>
                                </div>
                                <span asp-validation-for="ValidTo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">Base índice</label>

                            <div class="anchoimput">
                                <select asp-for="IndexBase" class="form-control" asp-items="Html.GetEnumSelectList<IndexBaseTwo>()">
                                </select>
                                <span asp-validation-for="IndexBase" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">Hora desde</label>
                            <div class="anchoimput">

                                <input asp-for="WorkFrom" class="form-control" />
                                <span asp-validation-for="WorkFrom" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">Hora hasta</label>
                            <div class="anchoimput">

                                <input asp-for="WorkTo" class="form-control" />
                                <span asp-validation-for="WorkTo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">Monto o porcentaje</label>
                            <div class="anchoimput">
                                <input asp-for="MultiplyAmount" class="form-control plugin-number-format" />
                                <span asp-validation-for="MultiplyAmount" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="contlotes">
                            <label class="control-label ancholabel">Descripción</label>
                            <div class="anchoimput">
                                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Máximo 100 caracteres"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>


                    </div>

                    <div class="contInterNuevoConteGastos">
                        <div class="contlotes">
                            <label class="control-label ancholabel">Aplica TSS</label>
                            <div class="anchoimput">
                                <label class="switch">
                                    <input asp-for="IsTSS" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">Aplica ISR</label>
                            <div class="anchoimput">
                                <label class="switch">
                                    <input asp-for="IsISR" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>

                        <div class="contlotes">
                            <label class="control-label ancholabel">Aplica horas extras</label>
                            <div class="anchoimput">
                                <label class="switch">
                                    <input asp-for="IsExtraHours" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>

                        <div class="contlotes">
                            <label class="control-label ancholabel">Aplica regalía</label>
                            <div class="anchoimput">
                                <label class="switch">
                                    <input asp-for="IsRoyaltyPayroll" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        
                        <div class="contlotes">
                            <label class="control-label ancholabel">Aplica DGT</label>
                            <div class="anchoimput">
                                <label class="switch">
                                    <input asp-for="IsUseDGT" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="contlotes">
                            <label class="control-label ancholabel">¿Es feriado?</label>
                            <div class="anchoimput">
                                <label class="switch">
                                    <input asp-for="IsHoliday" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


