.modal-alert-confirm {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4000;
}

    .modal-alert-confirm:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        /* width: 100%;
    height: 100vh; */
        background-color: rgba(0,0,0,0.2);
        z-index: -1;
        width: 100%;
        height: 100vh;
    }
/* **************************************************************************** */
/* Contenerdor de la alerta */
.alert-app{
    background-color: #fff;
    width: 30%;
    height: auto;
    min-height: 80px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 6px 5px rgba(0, 0, 0, 0.3);
    z-index:4000;
}

.notification{
    position: fixed;
    margin-left: calc(100% - 32%);
    margin-top:20px;
    animation-name: show-notify;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    top:0;
}

.confirmation {
    margin: auto;
    margin-top: 130px;
    animation-name: show-confirm;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    top: 0;
    position: fixed;
    left: 35%;
}

/* Animación para las notificaciones y los errores */
@keyframes show-notify{
    0%{
        margin-left: calc(100% + 20px);
    }

    50%{
        margin-left: calc( 100% - 34%);
    }

    100%{
        margin-left: calc( 100% - 32%);
    }
}

/* Animación para el confirmar */
@keyframes show-confirm{
    0%{
        transform: scale(0);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);

    }
}

/* Fin del contenedor */
/* **************************************************************************** */

/* **************************************************************************** */
/* Titulo */
.alert-app .alert-title{
    display: flex;
    height: 35px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

/* Imagen del titulo  */
.alert-app .alert-title > img{
    cursor: pointer;
    width: 12px;
    height: 12px;
}

/* Efecto hover del boton de cerrar */
.alert-app .alert-title > img:hover{
    /* filter: brightness(80%);   */
    transform:scale(1.1);
}

/* Contenedor del titulo y el icono */
.alert-app .alert-title .alert-icon-text{
    display: flex;
    justify-content: left;
    align-items: center;
}

/* titulo */
.alert-app .alert-title .alert-icon-text > span{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

/* Icono */
.alert-app .alert-title .alert-icon-text .icon{
    width: 26px;
    height: 26px;
    margin-right: 5px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
/* Color de los errores */
.error{
    background-color: rgb(165, 40, 40);
}

/* Color de las notificaciones */
.success{
    /* background-color: rgb(40, 109, 165); */
    background-color: rgb(40, 112, 90);
}

/* Color de las confirmaciones */
.confirm {
    /* background-color: rgb(13, 172, 172); */
    background-color: rgb(23 44 77);
}
/* Fin de la sección del titulo */
/* **************************************************************************** */

/* **************************************************************************** */
/* Sección del cuerpo */

/* Cuerpo */
.alert-app .alert-body {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
    max-height: 100px;
    overflow-y: auto;
    min-height: 55px;
}

/* Texto del cuerpo */
.alert-app .alert-body > span{
    font-size: 15px;
    color: rgb(36, 36, 36);
    line-height: 1.5;
}

/* Fin de la sección del cuerpo */
/* **************************************************************************** */

/* **************************************************************************** */
/* Sección del pie */
.alert-app .alert-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* Botones del pie */
    .alert-app .alert-footer > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 25px;
        border-radius: 3px;
        padding: 15px;
        color: #fff;
        box-sizing: border-box;
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
        cursor: pointer;
        font-weight: 500;
    }

/* Efecto hover de los botones */
.alert-app .alert-footer > div:hover{
    filter: brightness(108%);
}

/* Estilos de color de los botones */
    .alert-app .alert-footer .okbutton {
        background-color: rgb(51 122 183);
        border: 2px solid rgba(9, 28, 73, 0.3);
    }

/* Estilo de color de los botones */
.alert-app .alert-footer .cancelbutton{
    background-color: rgb(218, 36, 20);
    border:2px solid rgba(92, 15, 9, 0.3);
}

/* Fin de la sección del pie */
/* **************************************************************************** */
