/*Estilo de las gráficas*/
.custom-chart {
    box-sizing: border-box;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    padding: 5px 3% 5px 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .custom-chart > span {
        color: #888;
        font-size: 22px;
        /* font-family: 'sans-serif'; */
        border-bottom: 2px solid #d8d8d8;
        width: 100%;
        /* font-weight: 500; */
        padding-bottom: 3px;
    }

/*Estilo de las gráficas*/



/*-------------------------------*/
body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f8f9fa;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    height: 100vh;
}

.stylecanvas{
    width:80px;
    height:80px;
}
.container-flex {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 1%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1%;
}

.containerdashboard {
    height: 93%;
    overflow-y: auto;

    margin-top: 1%;
}
/*.changeCustomer {
    float: left;
    margin-top: 5px;
    font-size: 18px;
    display: block;
    cursor: pointer;
    color: white;
    padding-left: 20px;
}*/

/*.contDasboard1 {*/
    /* width: 100%; */
    /*background: #eaeaea;*/
    /*margin-left: 63px !important;*/
/*}*/
.opcioneslistpage {
    background-color: #337ab7;
    /* border-color: #307bb5; */
    /* color: #333; */
    /* border-radius: 4px; */
    position: relative;
    min-height: 40px;
    box-shadow: 0px 3px 6px rgb(0, 0, 0);
}
/*********************************************/
/* Sección contenedores tarjetas */
.container-AppDashboard {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

.card-AppDashboard, .card-charset {
    /*    display: flex;
    background-color: #fff;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    position: relative;
    transition: all .1s ease-in;
    min-width: 200px;
    border-radius: 3px;
    cursor: pointer;
    height: 85px;*/

    display: flex;
    background-color: #fff;
    color: #444;
    box-shadow: inset 0 0px 4px #495057;
    align-items: flex-start;
    position: relative;
    transition: all .1s ease-in;
    min-width: 200px;
    border-radius: 3px;
    cursor: pointer;
    height: 85px;
    padding-top: 10px;
}

    .card-AppDashboard:hover, .card-charset:hover {
        top: -2px;
        box-shadow: inset 0 0px 6px #0e5398;
        
    }

    .card-AppDashboard .img {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        /* background-color: rgb(62, 120, 146); */
        /* box-shadow: 0 4px 3px rgba(62, 120, 146, 0.2); */
        background-color: #17AED5;
        height: 50px;
        width: 50px;
        padding: 8px;
        margin-left: 10px;
        /*border-radius: 50%;*/
    }

    .card-AppDashboard .title {
        flex: 1;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 300;
        font-size: 14px;
        margin-bottom:0;
    }

.container-charset{
    box-sizing: border-box;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-top-color: rgba(0, 0,0, 0.1);
    border-top-width: 1px;
    border-top-style: solid;
    /* margin-top: 40px; */
    margin-right: auto;
    margin-left: auto;
}

.charset-title{
    font-size: 30px;
    font-weight: 300;
    color:#444;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.card-charset .count{
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: #b32401;
    margin-left: 10px;
    height: 50px;
    width: 60px;
}

.card-charset .count p{
    font-size: 50px;
    font-weight: 700;
    margin-left: 4%;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.card-charset .title-count{
    flex:1;
    font-weight: 300;
    font-size: 20px;
    margin-left: 4%;
    margin-right: 4%;
    font-style: oblique;
}

/*.contDasboard{
   
    height: 85vh;
    background: #f8f9fa;
    margin-left: 230px;
}*/

/*.contDasboard1 {*/
    /*margin-top: 50px;*/
    /*height: 85vh;
    background: #f8f9fa;
    margin-left: 63px;
}*/

.contDasboard {
    /*margin-top: 50px;*/
    height: 85vh;
    background: #f8f9fa;
    margin-left: 230px;
    transition: margin-left 0.3s;
}

/* Cuando el menú está contraído */
.sidebar-collapse ~ .contDasboard,
.menu-collapsed .contDasboard {
    margin-left: 63px;
}

/* Clase para el body cuando el menú está contraído */
body.menu-collapsed .contDasboard {
    margin-left: 63px;
}

/* Clase para el body cuando el menú está expandido */
body.menu-expanded .contDasboard {
    margin-left: 230px;
}

.container-AppDashboard-5 {
    grid-template-columns: repeat(3, 1fr);
}

/***************************GRAFICAS****************************/
/*Contenedor de las gráficas*/
.container-Graphics {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bar-chart{
    grid-column-start: 1;
    grid-column-end: 3;
}

/***************************GRAFICAS****************************/
/* Sección de medias queires para el responsive design */
@media only screen and (min-width: 500px) {
    .container-AppDashboard {
        grid-template-columns: 1fr 1fr;
    }

    .container-charset
    {
      grid-template-columns: 1fr 1fr;
    }

    /*Sección de las gráficas*/
    .container-Graphics {
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width: 850px) {
    .container-AppDashboard {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-AppDashboard .title {
        font-size: 14px;
    }

    .container-charset
    {
      grid-template-columns:repeat(3, 1fr);
    }


    /*Sección de las gráficas*/
    .container-Graphics {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media only screen and (min-width: 1240px) {
    .container-AppDashboard {
        grid-template-columns: repeat(4, 1fr);
    }

    .card-AppDashboard .title {
        font-size: 12px;
    }

    .container-charset
    {
      grid-template-columns:repeat(4, 1fr);
    }

    /*Sección de las gráficas*/
    .container-Graphics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1600px) {
    .container-AppDashboard {
        grid-template-columns: repeat(4, 1fr);
    }

    .card-AppDashboard .title {
        font-size: 18px;
    }

    .container-charset {
        grid-template-columns: repeat(4, 1fr);
    }

    /*Sección de las gráficas*/
    .container-Graphics {
        grid-template-columns: repeat(2, 1fr);
    }

  
}


/************************************************************/

/*imagenes de icono para  dashboard principal*/
.ModGenteCultura-icon {
    width: 100%;
    background: url("/images/Dashboard/Fondo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.ModAdministracionCP-icon {
    width: 100%;
    background: url("/images/Dashboard/facturasPendientespagos.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.ModCowey-icon {
    width: 100%;
    background: url("/images/Dashboard/Esdicon.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.SolicitudGastos-icon {
    width: 100%;
    background: url("../images/Dashboard/Cargar.png");
    background-repeat: no-repeat;
    background-size: contain;
}







/************Sección de gráficas del dashboard******************/
.card-AppDashboard > i {
    /*    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 50px;
    padding: 8px;
    margin-left: 20px;
    font-size: 50px;
    color: #8a8a8a;*/
    /*color: #737373;*/
    /* height: 50px; */
    /* margin-right: 10px; */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 50px;
    /*padding: 8px;*/
    margin-left: 10px;
    /*font-size: 50px;*/
    color: #146d69;
    font-size: 38px;
}

.card-AppDashboard > .text-section {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*box-sizing: border-box;*/
    /*padding: 8px;*/
    margin-left: 10px;
    height: 70px;
    justify-content: center;
    flex: 1;
   /* font-family: sans-serif;*/
}

.card-qty {
    /*    font-size: 38px;
    font-weight: bold;
    margin: 0;
    line-height: 0.89;
    display: block;
    color: #728f94;*/

    font-size: 38px;
    font-weight: bold;
    margin: 0;
    line-height: 0.89;
    display: block;
    color: #636363;
}

.text-section-title {
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    color: #929292;
    font-weight: 600;
}

.card-sub-title {
    font-size: 12px;
    line-height: 1.1;
    margin: 0;
    color: #949494;
}

