.principal {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 50px 1fr 20px;*/
    height: 89vh;
   
}

.contDasboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
}

.ContenedorListPageGenral {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 40px 1fr;
    overflow-y: hidden;
    /*overflow-x: hidden;*/
    grid-gap: 10px;
}



/*.container-table-app {
    width: 100%;
    height:auto;
}*/
