.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 25px;
    margin-bottom: 0;
    cursor: pointer;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    /*cursor: pointer;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(100% - 8px);
    width: 45%;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1abb9c;
    
}

input:focus + .slider {
    box-shadow: 0 0 1px #1abb9c;
    
}

input:checked + .slider::before {
    transform: translateX(calc(100% - 4px));
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.switch.disabled {
    opacity: 0.5;
    cursor: inherit;
}
