.form-control-FiltroDepartment {
    display: block;
    width: 220px;
    height: 38px;
    padding: 3px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(255,255,255,0.9);
    background-image: none;
    border: 1px solid #699dc5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.cont-input-batch-separator {
    display: flex;
    align-items: center;
    justify-content: end;
}

.form-group-BuscadorDepartment {
    /* margin: 15px; */
    margin-left: 2%;
    height: 40px;
    /* border: 1px solid;*/
    margin-bottom: 15px;
    /* width: 220px; */
    display: flex;
}

.clickCheckeditar {
    margin-top: 5px;
}

.tituloStatusDepartment {
    padding: 8px 5px 0px 15px;
}

.style-btn-custon {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgb(76,175,80);
    border-radius: 3px;
    margin-left: 5px;
    border: 1px solid #049124;
    width: 35%;
    cursor: pointer;
    box-sizing: content-box;
    margin-top: 0;
    font: normal normal 600 13px/16px 'Segoe UI',tahoma,sans-serif;
}

    .style-btn-custon > span {
        color: #ffff;
    }

.cont-input-batch {
    display: flex;
}

.style-btn-custon-two {
    /* padding: 0px 10px;*/
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    background: rgb(76,175,80);
    border-radius: 0px;
    /* margin-left: 5px; */
    border: 1px solid rgb(76 175 80);
    cursor: pointer;
    /* box-sizing: content-box; */
    margin-top: 0;
    font: normal normal 600 13px/16px 'Segoe UI',tahoma,sans-serif;
}

.style-fom-uploan {
    width: 35%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    
    background: rgb(76,175,80);
    border-radius: 3px;
    margin-left: 5px;
    border: 1px solid #049124;
    cursor: pointer;
    box-sizing: content-box;
    margin-top: 0;
}

.style-icon-batch {
    font-size: 20px;
    color: #ffff;
}
