.verticalAlign {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -1px;
}

.myButton {
    width: 135px;
    height: 35px;
    line-height: 35px;
    margin: 10px;
    text-align: center;
    background-color: #0095D9;
    color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
}

.popWindow .xc_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666666;
    opacity: 0.5;
    z-index: 2147000000;
}

.popWindow .popBox {
    position: fixed;
    left: 50%;
    top: -50%;
    background-color: #ffffff;
    z-index: 2147000001;
    width: 450px;
    /*height: 200px;*/
    margin-left: -225px;
    margin-top: -150px;
    border-radius: 10px;
    font-weight: lighter;
    color: #535e66;
}

textarea {
    resize: none;
}

.efecto {
    transition: all 1s;
    top: 30% !important;
}

.popWindow .popBox .titleBox {
    height: 50px;
    line-height: 30px;
    padding: 14px 30px;
    border-bottom: solid 1px #eef0f1;
    background: #0095d9;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

    .popWindow .popBox .titleBox .title {
        font-size: 18px;
        display: block;
        float: left;
        height: 30px;
        position: relative;
    }

    .popWindow .popBox .titleBox .clsBtn {
        display: block;
        cursor: pointer;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 22px;
        right: 30px;
        background: url("../Images/icons.png") -48px -96px no-repeat;
    }

.popWindow .popBox .txtBox {
    margin: 20px 20px;
}

    .popWindow .popBox .txtBox .bigIcon {
        float: left;
        margin-right: 20px;
        width: 48px;
        height: 48px;
        background-image: url("../images/icons.png");
        background-repeat: no-repeat;
        background-position: 48px 0;
    }
    /*.popWindow .popBox .txtBox p{ height: 84px; margin-top: 16px; line-height: 26px; overflow-x: hidden; overflow-y: auto;}*/
    .popWindow .popBox .txtBox p {
        max-height: 85px;
        /* margin-top: 16px; */
        /* line-height: 20px; */
        /* padding-top: 15px; */
        overflow-y: auto;
        margin-bottom: 30px;
    }

        .popWindow .popBox .txtBox p input {
            width: 364px;
            height: 30px;
            border: solid 1px #eef0f1;
            font-size: 18px;
            margin-top: 6px;
        }

.popWindow .popBox .btnArea {
    border-top: solid 1px #eef0f1;
}

.popWindow .popBox .btnGroup {
    float: right;
}
    /*.popWindow .popBox .btnGroup .myButton{margin-top: 14px; margin-right: 10px;}*/
    .popWindow .popBox .btnGroup .myButton {
        margin-right: 10px;
    }

.popWindow .popBox .myButton {
    display: block;
    cursor: pointer;
    float: left;
    width: 95px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}

    .popWindow .popBox .myButton.ok {
        background-color: #0095d9;
        color: #FFFFFF;
    }

    .popWindow .popBox .myButton.cancel {
        background-color: #0095d9;
        color: #FFFFFF;
    }

@media (max-width: 650px) {

    .popWindow .popBox {
        position: fixed;
        left: -60%;
        top: 50%;
        background-color: #ffffff;
        z-index: 2147000001;
        width: 380px;
        /* height: 200px; */
        margin-left: -225px;
        margin-top: -150px;
        border-radius: 10px;
        font-weight: lighter;
        color: #535e66;
    }

    .efecto {
        transition: all 1s;
        top: 50% !important;
        left: 60% !important;
    }
}

@media (max-width: 380px) {

    .popWindow .popBox {
        position: fixed;
        left: -60%;
        top: 50%;
        background-color: #ffffff;
        z-index: 2147000001;
        width: 98%;
        /* height: 200px; */
        margin-left: -212px;
        margin-top: -150px;
        border-radius: 10px;
        font-weight: lighter;
        color: #535e66;
    }
}

@media (max-width: 330px) {

    .popWindow .popBox {
        position: fixed;
        left: -60%;
        top: 50%;
        background-color: #ffffff;
        z-index: 2147000001;
        width: 315px;
        margin-left: -190px;
        margin-top: -150px;
        border-radius: 10px;
        font-weight: lighter;
        color: #535e66;
    }
}
