@model IEnumerable<DC365_WebNR.CORE.Domain.Models.CalendarHolidayResponse>

@{
    ViewData["Title"] = "CalendarHolidays";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string version = $"dt={DateTime.Now.ToString("yyyyMMddhhmmss")}";

}


<link href="~/css/Department.css" rel="stylesheet" />

<div class="contDasboard">

    <!--Opciones del Formulario-->
    <div class="opcioneslistpage">
        <div class="menuoptions-flex">
            <ul class="menuoptions">
                <li class="NewHoliday">
                    <a class="btn2 btn-app">
                        <i class="fa fa-plus-square-o"></i>
                        Nuevo
                    </a>
                </li>
                <li class="EditHoliday">
                    <a class="btn2 btn-app">
                        <i class="fa fa-edit "></i>
                        Editar
                    </a>
                </li>

                <li>
                    <a class="btn2 btn-app">
                        <i class="fa fa-trash"></i>
                        <input type="submit" value="Eliminar" form="delete-Holiday" class="inputTypesubmit" />
                    </a>
                </li>

                
            </ul>
            <ul class="menuoptions">
                <li class="OpcActualizar">
                    <a class="btn2 btn-app">
                        <i class="fa fa-repeat "></i>
                    </a>
                </li>
                <li class="CerrarModulo">
                    <a class="btn2 btn-app ">
                        <i class="fa fa-close i-close"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <!-- tabla -->
    <div class="ContenedorListEntity custonContainer">
        <h3 class="TituloEstandar">Dias feriados</h3>

        <div class="contenPretabla">
            <div class="form-group-BuscadorDepartment">


                <!-- filtro-->
                @{
                    await Html.RenderPartialAsync("ViewFilter");
                }

            </div>
        </div>
        <div class="scrollbar-TablePrimari">
            <div class="container-table-app" id="content-scroll">
                <table class="table-app tbl-CalendarHoliday" id="MainTable">
                    <thead>
                        <tr class="row-header-app">
                            <td class="cell-app check-cell-app cell-header-app">
                                <input id="check-table-0" type="checkbox" class="check-table-app">
                                <label for="check-table-0"> </label>
                            </td>
                            <td class="cell-app  cell-header-app">Fecha</td>
                            <td class="cell-app  cell-header-app">Descripción</td>

                        </tr>
                    </thead>
                    <tbody class="tbody-Table-CalendarHoliday">
                        @{
                            int indexCheck = 1;
                        }
                        @foreach (var item in Model)
                        {

                            string idCheck = $"check-table-{indexCheck++}";
                            <tr class="row-app">

                                <td class="cell-app check-cell-app">
                                    <input id="@idCheck" type="checkbox" class="check-table-app select-CalendarHoliday">
                                    <label for="@idCheck" class="label-cell"></label>
                                </td>
                                <td class="cell-app cell-principal CalendarDateIdtbl" data-title="Fecha">
                                    @Html.DisplayFor(modelItem => item.CalendarDate)
                                </td>
                                <td class="cell-app Descriptiontbl" data-title="Descripción">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <!-- nuevo  -->
    @{
        await Html.RenderPartialAsync("NewAndCalendarHolidays", new DC365_WebNR.CORE.Domain.Models.CalendarHolidayResponse());
    }

    <!-- Eliminar -->
    <form asp-action="delete" class="delete-Holiday collapse" id="delete-Holiday">
    </form>


</div>

<script src="~/js/M_Department.js?@version" type="module"></script>
<script src="~/js/CalendarHolidays.js?@version" type="module"></script>
<script src="~/js/table-features.js?@version"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        initTableFeatures({
            filterInput: '.textFilterMask',
            table: '#MainTable',
            tbody: '.tbody-Table-CalendarHoliday'
        });
    });
</script>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

