@{
    bool typeview = (bool)ViewBag.typeView;
}
<!-- documentos  de empleados-->
<div class="modal modal-employee-document" aria-hidden="true">
    <div class="main-content-modal w50">
        <div class="modal-content">
            <!--Opciones del Formulario-->
            <div class="modal-soptions">
                <div class="menuoptions-flex-submodal">
                    <ul class="menuoptions">
                        @{
                            if (typeview)
                            {
                                <li class="new-EmployeeDocument">
                                    <a class="btn2 btn-app">
                                        <i class="fa fa-plus-square-o"></i>
                                        Nuevo
                                    </a>
                                </li>


                                <li>
                                    <a class="btn2 btn-app">
                                        <i class="fa fa-trash"></i>
                                        <input type="submit" value="Eliminar" form="form-deleteEmployeeDocument" class="inputTypesubmit" />
                                    </a>
                                </li>

                                <li class="li-separador">
                                    <a class="btn2 btn-app">

                                    </a>
                                </li>

                                <li>
                                    <a class="btn2 btn-app">
                                        <i class="fa fa-paperclip"></i>
                                        @*Formulario para el documento*@
                                        <form id="save-empdoc-form" asp-action="UploadDocument" asp-controller="EmployeeDocumentController">
                                            <input type="file" class="form-file-doc Document" name="file" accept=".pdf,.doc,.docx,.jpg,.jpeg,.png" />
                                            <span class="trigger-upload-doc">
                                                Adjuntar
                                            </span>
                                        </form>
                                        @*Fin del formulario para la foto de perfil*@
                                    </a>
                                </li>

                                <li>
                                    <a class="btn2 btn-app btn-ver-adjunto">
                                        <i class="fa fa-eye"></i>
                                        Ver Adjunto
                                    </a>
                                </li>

                                <li>
                                    <a class="btn2 btn-app btn-eliminar-adjunto">
                                        <i class="fa fa-times"></i>
                                        Quitar Adjunto
                                    </a>
                                </li>

                            }
                        }
                    </ul>

                    <ul class="menuoptions">
                        <li class="close-modal-EmployeeDocument">
                            <a class="btn2 btn-app">
                                <i class="fa fa-close i-close"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--formulario nuevo documento de empleado-->
            <div class="container-modal-scrolling">
                <div class="cont-form-newandedit cont-form-EmployeeDocument collapse">

                </div>

                <h3 class="TituloEstandar">Documentos de identificación</h3>
                <div class="scrollbar-tableprimary-submodal ">
                    <div class="container-table-app datatable-EmployeeDocument" id="content-scroll">

                    </div>
                </div>


                <form asp-action="delete" class="delete-EmployeeDocument collapse" id="form-deleteEmployeeDocument">
                </form>

            </div>
        </div>

    </div>
</div>