@{
    bool typeview = (bool)ViewBag.typeView;
}
<!-- horas extras de empleados-->
<div class="modal modal-employee-ExtraHour" aria-hidden="true">
    <div class="Conten-mod-earningcode">
        <div class="modal-content">
            <!--Opciones del Formulario-->
            <div class="modal-options">
                <div class="menuoptions-flex-submodal">
                    <ul class="menuoptions">
                        @{
                            if (typeview)
                            {
                                <li class="new-ExtraHour">
                                    <a class="btn2 btn-app">
                                        <i class="fa fa-plus-square-o"></i>
                                        Nuevo
                                    </a>
                                </li>

                                <li>
                                    <a class="btn2 btn-app">
                                        <i class="fa fa-trash"></i>
                                        <input type="submit" value="Eliminar" form="form-delete-ExtraHour" class="inputTypesubmit" />
                                    </a>
                                </li>
                            }
                        }

                    </ul>

                    <ul class="menuoptions">
                        <li class="close-modal-ExtraHour">
                            <a class="btn2 btn-app">
                                <i class="fa fa-close i-close"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--formulario nueva hora extra-->
            <div class="container-modal-scrolling">
                <div class="cont-form-newandedit cont-form-newExtraHour collapse">


                </div>

                <!--tabla-->
                <h3 class="TituloEstandar">Horas extras</h3>

                <!-- filtro-->
                <div class="form-group-BuscadorDepartment">
                    @{await Html.RenderPartialAsync("ViewFilterEmployeeModalEH");}

                </div>
                <div class="scrollbar-tableprimary-submodal ">
                    <div class="container-table-app datatable-ExtraHour" id="content-scroll">

                    </div>
                </div>


                <form asp-action="delete" class="delete-ExtraHour collapse" id="form-delete-ExtraHour">
                </form>

            </div>
        </div>

    </div>
</div>
