@{
    bool typeview = (bool)ViewBag.typeView;
}
<!-- Contactos de empleado-->
<div class="modal modal-employee-contact" aria-hidden="true">
    <div class="ContenModal-contact">
        <div class="modal-content">
            <!--Opciones del Formulario-->
            <div class="modal-options">

                <div class="menuoptions-flex-submodal">
                    <ul class="menuoptions">
                        @{
                            if (typeview)
                            {
                                <li class="new-contactinfo">
                                    <a class="btn2 btn-app">
                                        <i class="fa fa-plus-square-o"></i>
                                        Nuevo
                                    </a>
                                </li>

                                <li>
                                    <a class="btn2 btn-app">
                                        <i class="fa fa-trash"></i>
                                        <input type="submit" value="Eliminar" form="form-deletecontactinfo" class="inputTypesubmit" />
                                    </a>
                                </li>
                            }
                        }


                    </ul>
                    <ul class="menuoptions">
                        <li class="close-modal-contacts">
                            <a class="btn2 btn-app">
                                <i class="fa fa-close i-close"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <!--formulario nuevo contacto-->
            <div class="container-modal-scrolling">
                <div class="cont-form-newandedit cont-form-newcontact collapse">

                </div>

                <h3 class="TituloEstandar">Información de contacto</h3>
                <div class="scrollbar-tableprimary-submodal ">
                    <div class="container-table-app datatable-contactinfo" id="content-scroll">

                    </div>
                </div>


                <form asp-action="delete" class="delete-contact collapse" id="form-deletecontactinfo">
                </form>

            </div>
        </div>

    </div>
</div>
