@{
    List<SelectListItem> filters = (List<SelectListItem>)ViewBag.Filter;
}
<div class="contenedor-filtros">
    @* Dropdown oculto para mantener compatibilidad con código existente *@
    @Html.DropDownList("Filter", filters, new { @class = "form-control-option-filtre optionFilter-employee", style = "display:none;" })
    <input type="text" class="form-control-text-filtre buscador textFilterMask textFilter-employee" placeholder="Buscar en todas las columnas...">
</div>