@{
    List<SelectListItem> filtersDisabled = (List<SelectListItem>)ViewBag.FilterDisable;
}
<div class="contenedor-filtros">
    @* Dropdown oculto para mantener compatibilidad con código existente *@
    @Html.DropDownList("Filter", filtersDisabled, new { @class = "form-control-option-filtre optionFilter-employee-disabled", style = "display:none;" })
    <input type="text" class="form-control-text-filtre buscador textFilterMask textFilter-employee-disabled" placeholder="Buscar en todas las columnas...">
</div>