.contDasboard {
    height: 85vh;
    background: #eaeaea;
    margin-left: 230px;
}
.contDasboard1 {
    /*width: 100%;*/
    height: 87vh;
    background: #eaeaea;
    margin-left: 63px;
}
.IconoBuscarVertical {
    width: 20px;
    height: 20px;
    margin-top: 172px;
    position: absolute;
    /* background: chartreuse; */
    margin-left: 5px;
    margin-left: 5px;
}

/*-----------*/

input[type=file] {
     display: none; 
}


   

/* Upload button */
.upload {
    display: none;
}

.uploader {
    /*border: 1px solid #ccc;*/
    width: 300px;
    position: relative;
    height: 30px;
    display: flex;
}

    .uploader .input-value {
        width: 250px;
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        font-family: sans-serif;
        font-size: 16px;
    }

    .uploader label {
        cursor: pointer;
        margin: 0;
        width: 30px;
        height: 33px;
        position: absolute;
        right: 0;
        background: #c3e3fc url('https://www.interactius.com/wp-content/uploads/2017/09/folder.png') no-repeat center;
    }



@media (max-width: 991px) {
    .contDasboard {
        /*width: 100%;*/
        height: 89vh;
        background: #eaeaea;
        margin-left: 60px;
    }
    .contDasboard1 {
        /*width: 100%;*/
        height: 90vh;
        background: #eaeaea;
        margin-left: 60px;
    }
}

@media (max-width: 650px) {
    .contDasboard {
        /*width: 100%;*/
        height: 89vh;
        background: #eaeaea;
        margin-left:60px;
    }
    .contDasboard1 {
        /*width: 100%;*/
        height: 90vh;
        background: #eaeaea;
        margin-left: 60px;
    }
    .IconoBuscarVertical {
        width: 20px;
        height: 20px;
        margin-top: 183px;
        position: absolute;
        /* background: chartreuse; */
        margin-left: 5px;
        margin-left: 5px;
    }
}
