
@{
    ViewData["Title"] = "ErrorKeyLicense";
    Layout = "~/Views/Shared/_Layout_Error.cshtml";
}




    <h1 style="margin-bottom: 50px;">¡¡  Lo sentimos  !!</h1>

    <h2 style="margin-bottom: 20px;">Existió un problema al validar su licencia para esta empresa, puede tener un pago vencido o no se realizó la renovación.</h2>
    <h2>Por favor contacte con su administrador.</h2>


